.Opening-Header{
    background-position: center;
    background-image: url(Images/School-of-athens-by-raphael2.jpg);
    height: 300px;
    text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.header{
    font-size: 100px;
}
.margin-intercept{
    margin: 20px;
}
.shrink-to-necessary-size{
    display: inline-block;
}