.Opening-Header{
    background-position: center;
    background-image: url(Images/School-of-athens-by-raphael2.jpg);
    height: 275px;
    color: black;
    padding-left: 75px

}
.header{
    font-size: 100px;
}
.margin-intercept{
    margin: 20px;
}
.shrink-to-necessary-size{
    display: inline-block;
}